<!-Духно Михаил Александрович-->
{% extends "base.html" %}
{% load static %}
{% block title %} Добавить в расписание {% endblock %}
{% block content %}
<div class="d-block" style="background: #0f0f0e;width: 500px;height: 100px;margin-left: 30px;">
    <h1 style="color: rgb(255,255,240);margin-bottom: 20px;">Настройки</h1>
    <form method="post" class="d-block" style="background: #0f0f0e;">
        {% csrf_token %}
        <label class="form-label d-inline" style="color: rgb(255,255,240);">Загрузить аватар:</label>
        <input name="img" class="form-control d-inline" type="file" style="background: rgb(252,152,3);width: 300px;margin-left: 15px;" />
        <button onclick="send_inf()" id="button" class="btn btn-primary"
          type="submit"
          style="font-size: 20px;background: rgb(252,152,3);width: 450px;margin-top: 30px;">Сохранить</button>
    </form>
</div>
{% endblock %}
<!-misha.duhno@mail.ru-->